**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb
**/*.dvi
**/*.xdv
**/*.bbl
**/*.blg
**/*.ptc
**/*.nav
**/*.snm
**/*.vrb
**/*.te~
**/*-converted-to.*
**/*.fdb_latexmk
**/*.synctex.gz
**/*.synctex(busy)
**/__latexindent_temp.tex
